body
{
    width: 1470px;
    height: 880px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background:url(backgroundorg.jpg)no-repeat center/contain;
    background-size:cover;
}
.content
{
    color: pink;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    padding:5px;
    justify-content: space-evenly;
    top:40px;
    right:40px;
    position:absolute;
}
.home
{
 
    color:rgb(255, 0, 72);
    font-family: Verdana;
    text-align:center;
    position:absolute;
    font-size: 10px;
    top:10px;
    font-size: small;
}
.name
{
    color:deepskyblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    text-align: center;
    font-weight: bold;
}
.desc
{
    color: rgb(13, 216, 30);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
}

.Outdoor
{
    position: absolute;
    left: 80px;
    top: 300px;
    width: 200px;
}
.Interior
{
    position: absolute;
    right: 300px;
    top: 300px;
    width: 200px;
}

button
{
    border:5px;
    border-radius: 10px;
    background-color: darkorange;
    font-size: small;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    










