 body
  {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
 }
.content
{
    color: pink;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    padding:5px;
    justify-content: space-evenly;
    top:40px;
    right:40px;
    position:absolute;
}

 header 
 {
    text-align: center;
    background-color: white;
    padding: 20px;
}
        
.contact
 {
    padding: 30px;
    max-width: 600px;
    margin: auto;
    background: white;
     border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        
}
 h2 
 {
    text-align: center;
    margin-bottom: 20px;
}
form
 {
    display: flex;
    flex-direction: column;
    gap: 15px;

}
 input
  {
     padding: 10px;
     font-size: 16px;
     border: 1px solid whitesmoke;
     border-radius: 5px;
}
textarea
  {
     padding: 10px;
     font-size: 16px;
     border: 1px solid whitesmoke;
     border-radius: 5px;
}

.contact-section textarea 
{
    resize: none;
    height: 100px;
        
}

.button
  {
     padding: 10px;
     font-size: 16px;
     border: 1px solid whitesmoke;
     border-radius: 5px;
}
 button
  {
    background-color: #4a4a4a;
    color: white;
     cursor: pointer;
    
}